/* Common */


/* Header */
.header {padding: 1rem;}
.navi-wrap {display: flex; border: 1px solid red; position: relative;}
.navi { cursor: pointer;}
.navi > :nth-child(1) {padding: 0.75rem 1rem;}
.sub-wrap {width: 100%; height: 400px; background-color: aquamarine; position: absolute; left: 0; display: flex; top: 100px;}
.navi-wrap > :nth-child(1) > .sub-wrap {background-color: bisque;}
.navi-wrap > :nth-child(2) > .sub-wrap {background-color: #73db42;}
.navi-wrap > :nth-child(3) > .sub-wrap {background-color: #5395eb;}
/* Main */
.font-wrap {max-width: 900px; margin: auto;}
.leftFadeIn {animation-name: leftFadeIn; animation-duration: 1s;}
.font-wrap h1, div {line-height: 6rem;}
.font-wrap > :last-child {display: flex; line-height: 6rem;}
.font-wrap > :last-child > div {opacity: 0; animation-fill-mode: forwards;}

/* Animation */
@keyframes leftFadeIn {
	0% {transform: translateX(-50px); opacity: 0;}
	100% {transform: translateX(0); opacity: 1;}
}


/* Responsive */
@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {

}